@model RefrigeratorRepairs.UI.ViewModels.SiteSetting.SiteSettingDetailViewModel
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                <h5 class="text-light footer-head">صفحات</h5>
                <p class="mt-4">@Model.Description</p>
                <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">
                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h5 class="text-light footer-head">صفحات</h5>
                <ul class="list-unstyled footer-list mt-4">
                    <li><a href="/ContactUs" class="text-foot"><i class="uil uil-angle-left-b me-1"></i> تماس با ما </a></li>
                    <li><a href="/Articles" class="text-foot"><i class="uil uil-angle-left-b me-1"></i> مقالات </a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<footer class="footer footer-bar">
    <div class="container text-end">
        <div class="row align-items-end">
            <div class="col-sm-12">
                <div class="text-sm-end">
                    <p class="mb-0">
                        <script>document.write(new Date().getFullYear())</script> Developed by  <a href="https://github.com/navidkhanjari" target="_blank" class="text-reset"> navid khanjari </a>
                    </p>
                </div>
            </div>   
        </div>
    </div>
</footer>