@model RefrigeratorRepairs.UI.ViewModels.SiteSetting.EditSettingViewModel
@{
    ViewData["Title"] = "ویرایش تنظیمات";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/AdminPannel">خانه</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<form class="card" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="basicInput">متن روی صفحه</label>
                    <input type="text" class="form-control" asp-for="TextInBackground">
                </div>
                <span asp-validation-for="TextInBackground" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="basicInput">توضیحات پایین سایت</label>
                    <input type="text" class="form-control" asp-for="Description">
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="basicInput">چه کاری انجام میدهیم؟</label>
                    <input type="text" class="form-control" asp-for="WhatWeDo">
                </div>
                <span asp-validation-for="WhatWeDo" class="text-danger"></span>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label for="basicInput">شماره تماس</label>
                    <input type="text" class="form-control" asp-for="PhoneNumber">
                </div>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                @Html.EditorFor(a=> a.AboutUs)
            </div>

            <div class="col-md-12">
                <label for="basicInput"><span class="text-danger">(1080 * 1920)</span> تصویر اصلی سایت</label>
                <input type="file" asp-for="BackgrondImage">
                <span asp-validation-for="BackgrondImage" class="text-danger"></span>
            </div>

            <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                <button type="submit" class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1">ذخیره تغییرات</button>
                <button type="reset" class="btn btn-light">انصراف</button>
            </div>


        </div>
    </div>
</form>
@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
