<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <div>
            <a class="logo" href="index.html">
                <img src="/Site/images/logo-dark.png" class="l-dark" height="24" alt="">
                <img src="/Site/images/logo-light.png" class="l-light" height="24" alt="">
            </a>
        </div>

        <div class="menu-extras">
            <div class="menu-item">
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>

        <div id="navigation">
            <ul class="navigation-menu nav-light">
                <li><a href="/" class="sub-menu-item">صفحه اصلی </a></li>
                <li><a href="/Articles" class="sub-menu-item">مقالات</a></li>
                <li><a href="/ContactUs" class="sub-menu-item">تماس با ما</a></li>
            </ul>

        </div>
    </div>
</header>
