<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <div class="menu-extras">
            <div class="menu-item">
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>

        <div id="navigation">
            <ul class="navigation-menu nav-light">
                <li><a href="/" class="sub-menu-item">صفحه اصلی </a></li>
                <li><a href="/Articles" class="sub-menu-item">مقالات</a></li>
                <li><a href="/ContactUs" class="sub-menu-item">تماس با ما</a></li>

                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="/AdminPannel" class="text-success sub-menu-item">پنل مدیریت</a></li>
                }
   
            </ul>
        </div>
    </div>
</header>
