
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <title>تعمیرات یخچال کرج -</title>
    <link rel="shortcut icon" href="/Site/images/favicon.ico">
    <link href="/Site/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Site/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Site/unicons.iconscout.com/release/v3.0.6/css/line.css">
    <link rel="stylesheet" href="/Site/css/tiny-slider.css" />
    <link href="/Site/css/style.min.css" rel="stylesheet" type="text/css" id="theme-opt" />
    <link href="/Site/css/colors/default.css" rel="stylesheet" id="color-opt">
</head>

<body>

    @RenderSection("Header", false)

    @RenderSection("IndexHeader", false)

    @RenderBody()

    @RenderSection("Footer", false)

    <a href="#" onclick="topFunction()" id="back-to-top" class="btn btn-icon btn-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>

    <script src="/Site/js/bootstrap.bundle.min.js"></script>
    <script src="/Site/js/tiny-slider.js"></script>
    <script src="/Site/js/feather.min.js"></script>
    <script src="/Site/js/switcher.js"></script>
    <script src="/Site/js/plugins.init.js"></script>
    <script src="/Site/js/app.js"></script>
</body>

</html>
