@model RefrigeratorRepairs.UI.ViewModels.SiteSetting.SiteSettingDetailViewModel
@using RefrigeratorRepairs.UI.Utilities
@{
    ViewData["Title"] = "Home Page";
}

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-4">چه کاری انجام می دهیم؟</h4>
                    <p class="text-muted para-desc mb-0 mx-auto"></p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-lg-3 col-md-4 mt-4 pt-2">
                <div class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
                    <span class="h1 icon2 text-primary">
                        <i class="uil uil-chart-line"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>عملکرد بالا</h5>
                        <p class="para text-muted mb-0">این یک واقعیت ثابت شده طولانی است که یک خواننده.</p>
                    </div>
                    <span class="big-icon text-center">
                        <i class="uil uil-chart-line"></i>
                    </span>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-4 mt-4 pt-2">
                <div class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
                    <span class="h1 icon2 text-primary">
                        <i class="uil uil-crosshairs"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>بهترین اوراق بهادار</h5>
                        <p class="para text-muted mb-0">این یک واقعیت ثابت شده طولانی است که یک خواننده.</p>
                    </div>
                    <span class="big-icon text-center">
                        <i class="uil uil-crosshairs"></i>
                    </span>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-4 mt-4 pt-2">
                <div class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
                    <span class="h1 icon2 text-primary">
                        <i class="uil uil-airplay"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>سرویس مورد اعتماد</h5>
                        <p class="para text-muted mb-0">این یک واقعیت ثابت شده طولانی است که یک خواننده.</p>
                    </div>
                    <span class="big-icon text-center">
                        <i class="uil uil-airplay"></i>
                    </span>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-4 mt-4 pt-2">
                <div class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
                    <span class="h1 icon2 text-primary">
                        <i class="uil uil-rocket"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>فناوری اطلاعات</h5>
                        <p class="para text-muted mb-0">این یک واقعیت ثابت شده طولانی است که یک خواننده.</p>
                    </div>
                    <span class="big-icon text-center">
                        <i class="uil uil-rocket"></i>
                    </span>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-4 mt-4 pt-2">
                <div class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
                    <span class="h1 icon2 text-primary">
                        <i class="uil uil-clock"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>24/7 پشتیبانی </h5>
                        <p class="para text-muted mb-0">این یک واقعیت ثابت شده طولانی است که یک خواننده.</p>
                    </div>
                    <span class="big-icon text-center">
                        <i class="uil uil-clock"></i>
                    </span>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-4 mt-4 pt-2">
                <div class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
                    <span class="h1 icon2 text-primary">
                        <i class="uil uil-users-alt"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>مدیریت اطلاعات </h5>
                        <p class="para text-muted mb-0">این یک واقعیت ثابت شده طولانی است که یک خواننده.</p>
                    </div>
                    <span class="big-icon text-center">
                        <i class="uil uil-users-alt"></i>
                    </span>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-4 mt-4 pt-2">
                <div class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
                    <span class="h1 icon2 text-primary">
                        <i class="uil uil-file-alt"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>شرکت مجاز </h5>
                        <p class="para text-muted mb-0">این یک واقعیت ثابت شده طولانی است که یک خواننده.</p>
                    </div>
                    <span class="big-icon text-center">
                        <i class="uil uil-file-alt"></i>
                    </span>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-4 mt-4 pt-2">
                <div class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
                    <span class="h1 icon2 text-primary">
                        <i class="uil uil-search"></i>
                    </span>
                    <div class="card-body p-0 content">
                        <h5>تجزیه و تحلیل داده</h5>
                        <p class="para text-muted mb-0">این یک واقعیت ثابت شده طولانی است که یک خواننده.</p>
                    </div>
                    <span class="big-icon text-center">
                        <i class="uil uil-search"></i>
                    </span>
                </div>
            </div><!--end col-->

            <div class="col-lg-12 text-center col-md-4 mt-4 pt-2">
                <a href="javascript:void(0)" class="btn btn-primary">نمایش بیشتر <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left fea icon-sm"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg></a>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
    <!-- About Start -->
    <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-6 mt-4 mt-lg-0 pt-2 pt-lg-0">
                        <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-md">
                            <div class="card-body p-0">
                                <img src="/Site/images/course/online/ab01.jpg" class="img-fluid" alt="work-image">
                                <div class="overlay-work bg-dark"></div>
                                <div class="content">
                                    <a href="javascript:void(0)" class="title text-white d-block fw-bold">توسعه وب </a>
                                    <small class="text-light">اطلاعات و نرم افزار</small>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-6 col-6">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                                <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-md">
                                    <div class="card-body p-0">
                                        <img src="/Site/images/course/online/ab02.jpg" class="img-fluid" alt="work-image">
                                        <div class="overlay-work bg-dark"></div>
                                        <div class="content">
                                            <a href="javascript:void(0)" class="title text-white d-block fw-bold">مهندس مکانیک</a>
                                            <small class="text-light">مهندسی </small>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end col-->

                            <div class="col-lg-12 col-md-12 mt-4 pt-2">
                                <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-md">
                                    <div class="card-body p-0">
                                        <img src="/Site/images/course/online/ab03.jpg" class="img-fluid" alt="work-image">
                                        <div class="overlay-work bg-dark"></div>
                                        <div class="content">
                                            <a href="javascript:void(0)" class="title text-white d-block fw-bold">حسابدار خبره</a>
                                            <small class="text-light">C.A.</small>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end col-->

            <div class="col-lg-6 col-md-6 mt-4 mt-lg-0 pt- pt-lg-0">
                <div class="ms-lg-4">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">درباره داستان ما</h4>
                        <p class="text-muted para-desc">شروع به کار با <span class="text-primary fw-bold">لنـدریـک </span> که می تواند هر آنچه را که شما برای ایجاد آگاهی ، ایجاد ترافیک ، اتصال به آن نیاز دارید فراهم کند.</p>
                        <p class="text-muted para-desc mb-0">مشهورترین متن ساختگی "لورم ایپسوم " است که گفته می شود از قرن 16 پدید آمده است. لورم ایپسوم  در یک زبان شبه لاتین ساخته شده است که کم و بیش با لاتین "مناسب" مطابقت دارد. این شامل یک سری کلمات واقعی لاتین است.</p>
                    </div>

                    <ul class="list-unstyled text-muted">
                        <li class="mb-0"><span class="text-primary h4 me-2"><i class="uil uil-check-circle align-middle"></i></span>کاملا ریسپانسیو</li>
                        <li class="mb-0"><span class="text-primary h4 me-2"><i class="uil uil-check-circle align-middle"></i></span>طرح چندگانه</li>
                        <li class="mb-0"><span class="text-primary h4 me-2"><i class="uil uil-check-circle align-middle"></i></span>متناسب با سبک شما</li>
                    </ul>

                    <div class="mt-4 pt-2">
                        <a href="https://www.rtl-theme.com/?p=133270" target="_blank" class="btn btn-primary m-1">ادامه مطلب  <i class="uil uil-angle-left-b align-middle"></i></a>
                        <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="btn btn-icon btn-pills btn-primary m-1 lightbox"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video icons"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg></a><span class="fw-bold text-uppercase small align-middle ms-1">اکنون تماشا کنید </span>
                    </div>
                </div>
            </div>
        </div><!--end row-->
    </div><!--end container-->
</section>

<section class="section pt-0">
    <div class="container">
        <div class="p-4 rounded shadow bg-primary bg-gradient position-relative" style="z-index: 1;">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="progress-box">
                        <h6 class="title text-light title-dark">طراحی وب</h6>
                        <div class="progress title-bg-dark" style="height: 10px; padding: 3px">
                            <div class="progress-bar position-relative bg-black" style="width:84%;">
                                <div class="progress-value d-block text-light title-dark h6">84%</div>
                            </div>
                        </div>
                    </div><!--end process box-->
                    <div class="progress-box mt-4">
                        <h6 class="title text-light title-dark">توسعه وب </h6>
                        <div class="progress title-bg-dark" style="height: 10px; padding: 3px">
                            <div class="progress-bar position-relative bg-black" style="width:75%;">
                                <div class="progress-value d-block text-light title-dark h6">75%</div>
                            </div>
                        </div>
                    </div><!--end process box-->
                    <div class="progress-box mt-4">
                        <h6 class="title text-light title-dark">توسعه بازی</h6>
                        <div class="progress title-bg-dark" style="height: 10px; padding: 3px">
                            <div class="progress-bar position-relative bg-black" style="width:79%;">
                                <div class="progress-value d-block text-light title-dark h6">79%</div>
                            </div>
                        </div>
                    </div><!--end process box-->
                </div><!--end col-->

                <div class="col-md-6 col-12">
                    <div class="progress-box mt-4 mt-sm-0">
                        <h6 class="title text-light title-dark">توسعه اپ</h6>
                        <div class="progress title-bg-dark" style="height: 10px; padding: 3px">
                            <div class="progress-bar position-relative bg-black" style="width:84%;">
                                <div class="progress-value d-block text-light title-dark h6">84%</div>
                            </div>
                        </div>
                    </div><!--end process box-->
                    <div class="progress-box mt-4">
                        <h6 class="title text-light title-dark">دیجیتال مارکتینگ</h6>
                        <div class="progress title-bg-dark" style="height: 10px; padding: 3px">
                            <div class="progress-bar position-relative bg-black" style="width:75%;">
                                <div class="progress-value d-block text-light title-dark h6">75%</div>
                            </div>
                        </div>
                    </div><!--end process box-->
                    <div class="progress-box mt-4">
                        <h6 class="title text-light title-dark">توسعه کامل پشته</h6>
                        <div class="progress title-bg-dark" style="height: 10px; padding: 3px">
                            <div class="progress-bar position-relative bg-black" style="width:79%;">
                                <div class="progress-value d-block text-light title-dark h6">79%</div>
                            </div>
                        </div>
                    </div><!--end process box-->
                </div><!--end col-->
            </div><!--end row -->
        </div>

        <div class="row mt-4 pt-2 position-relative" id="counter" style="z-index: 1;">
            <div class="col-md-3 col-6 mt-4 pt-2">
                <div class="counter-box text-center">
                    <img src="/Site/images/illustrator/Asset190.svg" class="avatar avatar-small" alt="">
                    <h2 class="mb-0 mt-4"><span class="counter-value" data-target="97">97</span>%</h2>
                    <h6 class="counter-head text-muted">مشتریان خوشحال </h6>
                </div><!--end counter box-->
            </div>

            <div class="col-md-3 col-6 mt-4 pt-2">
                <div class="counter-box text-center">
                    <img src="/Site/images/illustrator/Asset189.svg" class="avatar avatar-small" alt="">
                    <h2 class="mb-0 mt-4"><span class="counter-value" data-target="15">15</span>+</h2>
                    <h6 class="counter-head text-muted">جوایز </h6>
                </div><!--end counter box-->
            </div>

            <div class="col-md-3 col-6 mt-4 pt-2">
                <div class="counter-box text-center">
                    <img src="/Site/images/illustrator/Asset192.svg" class="avatar avatar-small" alt="">
                    <h2 class="mb-0 mt-4"><span class="counter-value" data-target="2">2</span>هزار </h2>
                    <h6 class="counter-head text-muted">موقعیت شغلی</h6>
                </div><!--end counter box-->
            </div>

            <div class="col-md-3 col-6 mt-4 pt-2">
                <div class="counter-box text-center">
                    <img src="/Site/images/illustrator/Asset187.svg" class="avatar avatar-small" alt="">
                    <h2 class="mb-0 mt-4"><span class="counter-value" data-target="98">98</span>%</h2>
                    <h6 class="counter-head text-muted">پروژه های تکمیلی</h6>
                </div><!--end counter box-->
            </div>
        </div><!--end row-->
        <div class="feature-posts-placeholder bg-light"></div>
    </div><!--end container-->
</section>


<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h6 class="text-primary">فرآیند کار</h6>
                    <h4 class="title mb-4">چگونه کار می کنیم؟</h4>
                    <p class="text-muted para-desc mx-auto mb-0">شروع به کار با <span class="text-primary fw-bold">لنـدریـک </span> که می تواند هر آنچه را که شما برای ایجاد آگاهی ، ایجاد ترافیک ، اتصال به آن نیاز دارید فراهم کند.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-md-4 mt-4 pt-2">
                <div class="card features feature-clean work-process bg-transparent process-arrow border-0 text-center">
                    <div class="icons text-primary text-center mx-auto">
                        <i class="uil uil-presentation-edit d-block rounded h3 mb-0"></i>
                    </div>

                    <div class="card-body">
                        <h5 class="text-dark">بحث </h5>
                        <p class="text-muted mb-0">مشهورترین متن ساختگی "لورم اپیسوم" است که گفته می شود ریشه دارد</p>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-md-4 mt-md-5 pt-md-3 mt-4 pt-2">
                <div class="card features feature-clean work-process bg-transparent process-arrow border-0 text-center">
                    <div class="icons text-primary text-center mx-auto">
                        <i class="uil uil-airplay d-block rounded h3 mb-0"></i>
                    </div>

                    <div class="card-body">
                        <h5 class="text-dark">استراتژی و آزمایش</h5>
                        <p class="text-muted mb-0">مشهورترین متن ساختگی "لورم اپیسوم" است که گفته می شود ریشه دارد.</p>
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-md-4 mt-md-5 pt-md-5 mt-4 pt-2">
                <div class="card features feature-clean work-process bg-transparent d-none-arrow border-0 text-center">
                    <div class="icons text-primary text-center mx-auto">
                        <i class="uil uil-image-check d-block rounded h3 mb-0"></i>
                    </div>

                    <div class="card-body">
                        <h5 class="text-dark">گزارش نویسی </h5>
                        <p class="text-muted mb-0">مشهورترین متن ساختگی "لورم اپیسوم" است که گفته می شود ریشه دارد.</p>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

</section>

@section IndexHeader{
    <section class="bg-home d-flex align-items-center" style="background: url('@FilePath.BackgroundImagePath@Model.BackgrondImageName') top;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="title-heading text-center">
                        <h4 class="heading fw-bold text-white title-dark mb-3">@Model.TextInBackground</h4>
                        <div class="mt-4 pt-2">
                            <a href="javascript:void(0)" class="btn btn-primary">تماس با ما</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@section Header{
    @await Component.InvokeAsync("SiteHeader")
}
@section Footer{
    @await Component.InvokeAsync("SiteFooter")
}